**/bui*

.DS_Store
/build
.idea/
*.iml
node_modules
src_api/cache*
src_api/lastRun.txt
src/**/*.js
src/**/*.js.map
!src/lib/*.js
!src/lib/**/*.js
src/lib/numbersLab/*.js
debug/
src/*.js
src/d/*.js
src/lib/numberslab/*.js
src/model/*.js
src/model/blockchain/*.js
src/pages/*.js
src/providers/*.js
src/utils/*.js
src/workers/*.js
package-lock.json
### win
# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db
# Dump file
*.stackdump
# Folder config file
[Dd]esktop.ini
# Recycle Bin used on file shares
$RECYCLE.BIN/
# Windows Installer files
*.cab
*.msi
*.msm
*.msp
# Windows shortcuts
*.lnk
.vscode
.vs